[Desktop Entry]
Name=Space Cadet Pinball
Comment=Decompilation of 3D Pinball for Windows – Space Cadet
Exec=SpaceCadetPinball
Icon=SpaceCadetPinball
Terminal=false
Type=Application
Categories=Game;
