name: Make Release Builds

on: [workflow_dispatch]

jobs:
  build-macos:
    runs-on: macos-11
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master

      - run: bash build.sh

      - uses: actions/upload-artifact@v3
        with:
          name: mac-build
          path: packaging/*.dmg
